<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the FUSE!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <!--<div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="Accept" required>
                        <span>Accept</span>
                    </mat-checkbox>
                    <a href="#">terms and conditions</a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid">
                    CREATE AN ACCOUNT
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/login'">Login</a>
            </div>
        </div> -->
        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">CREE UN COMPTE</div>
        </div>
        <div class="vertical-stepper-wrapper">
        
            <!-- VERTICAL STEPPER EXAMPLE -->
            <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">

                <mat-step [stepControl]="verticalStepperStep1">

                    <form fxLayout="column" [formGroup]="verticalStepperStep1">

                        <ng-template matStepLabel>Saisissez vos Informations</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Prénom</mat-label>
                                <input matInput formControlName="firstName" required>
                                <mat-error>Le Prénom est Obligatoir!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Nom</mat-label>
                                <input matInput formControlName="lastName" required>
                                <mat-error>Le Nom est Obligatoir!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" >
                                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                                <mat-error *ngIf="verticalStepperStep1.get('email').hasError('required')">
                                    Email est Obligatoire!
                                </mat-error>
                                <mat-error *ngIf="verticalStepperStep1.get('email').hasError('email')">
                                    Veuillez entrer une adresse email valide
                                </mat-error>
                                <mat-error *ngIf="verticalStepperStep1.get('email').hasError('emailExists')">
                                    L'email que vous avez entrer existe déjà
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Suivant
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep2">

                    <form fxLayout="column" [formGroup]="verticalStepperStep2">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password">
                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                <mat-error>
                                    Password is required
                                </mat-error>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Password (Confirm)</mat-label>
                                <input matInput type="password" formControlName="passwordConfirm">
                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                <mat-error *ngIf="verticalStepperStep2.get('passwordConfirm').hasError('required')">
                                    Password confirmation is required
                                </mat-error>
                                <mat-error *ngIf="!verticalStepperStep2.get('passwordConfirm').hasError('required') &&
                                                   verticalStepperStep2.get('passwordConfirm').hasError('passwordsNotMatching')">
                                    Passwords must match
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Précédent
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Suivant
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep3">

                    <form fxLayout="column" [formGroup]="verticalStepperStep3">

                        <ng-template matStepLabel>Information de Classe</ng-template>
                        <div fxFlex="1 0 auto" fxLayout="column">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Ville</mat-label>
                                <mat-select formControlName="city"
                                (selectionChange)="setInstitutions($event.value)" 
                                required>
                                    <mat-option *ngFor="let city of cities" [value]="city.id">
                                        {{city.name}}
                                    </mat-option>   
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                                <mat-error>La Ville est Obligatoire!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Etablissement</mat-label>
                                <mat-select formControlName="institution" 
                                (selectionChange)='reloadFilieres($event.value)'
                                #institution
                                required>
                                    <mat-option *ngFor="let inst of institutions" [value]="inst.id">
                                        {{inst.shortname}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                                <mat-error>L'Etablissement est Obligatoire!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Filiere</mat-label>
                                <mat-select formControlName="filiere" 
                                #filiere
                                required>
                                    <mat-option *ngFor="let f of allFilieres"[value]="f.id">
                                        {{f.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">book</mat-icon>
                                <mat-error>La Filiere est Obligatoire!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Année</mat-label>
                                <mat-select formControlName="year" 
                                (selectionChange)="reloadGroups($event.value, filiere.value)"
                                required>
                                    <mat-option *ngFor="let y of years" [value]="y.year" >
                                        {{y.string}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">school</mat-icon>
                                <mat-error>L'Année est Obligatoire!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Groupe</mat-label>
                                <mat-select formControlName="group" required>
                                    <mat-option *ngFor="let g of groups" [value]="g.id">
                                        {{g.letter}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">groups</mat-icon>
                                <mat-error>Le Groupe est Obligatoire!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Précédent
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Suivant
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Done</ng-template>

                    <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                        Thank your for filling out our form.
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Précédent
                        </button>
                        <button mat-raised-button type="button" color="accent" (click)="confirmRegistration()">
                            Envoyer
                        </button>
                    </div>

                </mat-step>

            </mat-vertical-stepper>
            <!-- / VERTICAL STEPPER EXAMPLE -->

        </div>
    </div>
</div>
